/* You can add global styles to this file, and also import other style files */

* {
    --color-primary: #4ade80;
    --color-text: #f3f4f6;
    --color-text-secondary: #a7a7a7;
    --background-card: #27272a;
    --background-card-header: #3f3f46;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #181818;
    // define colors variable
}

h1,
h2 {
    font-family: "Bitcount Prop Single", system-ui;
    font-variation-settings: "slnt" 0, "CRSV" 0.5, "ELSH" 0, "ELXP" 0;
    font-optical-sizing: auto;
    font-weight: 250;
}

h3,
h4 {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1 {
    color: var(--color-primary);
    font-size: 48px;
    margin: 25px 0 0 0;
}

h2 {
    color: var(--color-text);
    font-size: 24px;
    margin: 8px;
}

h3 {
    color: var(--color-text);
    font-size: 14px;
    margin: 6px;
}

h4 {
    color: var(--color-text-secondary);
    font-size: 14px;
    margin: 6px;
}

.button {
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    background-color: transparent;
    color: var(--color-primary);
    border: 2px dotted var(--color-primary);
    border-radius: 4px;
    padding: 4px 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    h4 {
        margin: 0;
        color: var(--color-primary);
    }
}
